<h1># {{menu.id}}</h1>
<h2>Date: {{menu.date_menu}}</h2>
<h3>created: {{menu.created}}</h3>
<p>Recordatory: {{menu.active|yesno:"active,not active"}}</p>
<a href="{% url 'menu-update' menu.id %}">Update menu</a>
<a href="{% url 'option-create' menu.id %}">Add option</a>

<ul>
    {% for option in menu.related_options %}
        <li>
            {{option.name}} 
            <a href="{% url 'option-delete' menu.id option.id %}">erase</a>
            <a href="{% url 'option-update' menu.id option.id %}">update</a>
        </li>
    {% endfor %}
</ul>

<hr>
<h3>Employees requests</h3>

    {% for employee_option in menu.employees_have_selected %}
    <h4>{{employee_option.employee.name}} </h4>
    <ul>
        <li>
            {{employee_option.option_selected.name}}
        </li>
        <li>
            Specification: {{employee_option.specification}} 
        </li>

    </ul>
    {% endfor %}

    <a href="{% url 'menu-index' %}">list menus</a>